#pix{
    height:180px;

}

figcaption{
    text-align: center;
}

img{
    text-align: center;
}

.figure {
    display: table;margin-right: auto;margin-left: auto;
}

.figure-caption {display: table-caption;caption-side: bottom;text-align: center;}

#formula_r2, #formula_r1, #formula_vin, #formula_vout{
    display: none ;
}